 
@media (max-width: 768px) {
    /*body{
      font-family: Lato,Helvetica, Arial, sans-serif;
      margin-top:101px;
    } 
    
  
    .navbar-brand{
      position: relative;
      padding-left: 280px;
    }
    .navbar-brand .img-fluid{
      display: inline-block;
      max-width:60px;
      position: absolute;
      top: 6px;
      left: 55px;
    }
    .navbar-brand .img-fluid2{
      display: inline-block;
      max-width:100px;
      position: absolute;
      top: 12px;
      left: 150px;
    }*/
}